body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://source.unsplash.com/1600x900/?nature,water');
  background-size: cover;
  background-repeat: 'no-repeat';
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px;
}

.centerTable {
  margin: 0px auto;
}

h2 {
    color: #3f51b5;
}
