paths:
  /accounts/login:
    post:
      description: Gửi thông tin người dùng đăng nhập
      parameters:
        - in: body
          name: user
          description: Người dùng gửi thông tin đăng nhập
          schema:
            type: object
            required:
              - email
            properties:
              email:
                type: string
              password:
                type: string
      responses:
        200:
          description: Đăng nhập thành công sẽ chuyển đến Home Page
        400:
          description: Trả về thông báo lỗi tương ứng
    get:
      description: Trả về thông báo đăng nhập thành công
      responses:
        200:
          description: Đã đăng nhập thành công

  /accounts/register:
    post:
      description: Gửi thông tin người dùng đăng ký tài khoản mới
      parameters:
        - in: body
          name: user
          description: Người dùng gửi thông tin đăng ký
          schema:
            type: object
            required:
              - email
            properties:
              fullname:
                type: string
              email:
                type: string
              password:
                type: string
              confirm_password:
                type: string
      responses:
        200:
          description: Đăng ký thành công sẽ chuyển đến Login Page
        400:
          description: Trả về thông báo lỗi tương ứng

  /accounts/user-info:
    get:
      description: Lấy thông tin của người dùng
      responses:
        200:
          description: Lấy thông tin người dùng thành công
        400:
          description: Trả về thông báo Lấy thông tin người dùng thất bại
        401:
          description: Trả về thông báo Người dùng chưa được xác thực
      security:
        - bearerAuth: []
      consumes:
        - multipart/form-data
      parameters:
        - in: header
          name: user_id
          schema:
            type: string
          required: true

  /accounts/update-userinfo:
    post:
      description: Gửi thông tin cần Cập nhật của người dùng
      responses:
        200:
          description: Cập nhật thông tin người dùng thành công
        400:
          description: Trả về thông báo Cập nhật thông tin người dùng thất bại
        401:
          description: Trả về thông báo Người dùng chưa được xác thực
      security:
        - bearerAuth: []
      consumes:
        - application/json
      parameters:
        - in: header
          name: user_id
          schema:
            type: string
          required: true
        - in: body
          name: user
          description: Người dùng gửi thông tin cập nhật
          schema:
            type: object
            required:
              - email
            properties:
              fullname:
                type: string
              avatar:
                type: https://www.pikpng.com/pngl/b/80-805523_default-avatar-svg-png-icon-free-download-264157.png
              birthday:
                type: string
              gender:
                type: string
              numberphone:
                type: string
              email:
                type: string
              address:
                type: string

  /products/add-product:
    post:
      description: Gửi thông tin sản phẩm cần thêm
      security:
        - bearerAuth: []
      consumes:
        - multipart/form-data
      parameters:
        - name: name
          in: formData
          description: Tên sản phẩm
          type: string
        - name: desc
          in: formData
          description: Mô tả sản phẩm
          type: string
        - name: price
          in: formData
          description: Giá tiền
          type: number
        - name: discount
          in: formData
          description: Khuyến mãi
          type: number
        - name: files
          in: formData
          description: File ảnh của sản phẩm
          type: file
      responses:
        200:
          description: Thêm thông tin sản phẩm thành công
        400:
          description: Trả về thông báo lỗi tương ứng
        401:
          description: Trả về thông báo Người dùng chưa được xác thực

  /products/get-product:
    get:
      security:
        - bearerAuth: []
      consumes:
        - application/json
      description: Trả về thông tin Danh sách sản phẩm đang bán của người dùng
      responses:
        200:
          description: Trả về thông tin danh sách sản phẩm thành công
        400:
          description: Trả về thông báo chưa có sản phẩm nào để bán
        401:
          description: Trả về thông báo Người dùng chưa được xác thực

  /products/detail-product:
    post:
      description: Trả về thông tin chi tiết của 1 sản phẩm
      security:
        - bearerAuth: []
      consumes:
        - application/json
      parameters:
        - in: body
          name: id
          description: ID sản phẩm
          schema:
            type: object
            properties:
              id:
                type: string
      responses:
        200:
          description: Trả về thông tin danh sách sản phẩm thành công
        400:
          description: Trả về thông báo chưa có sản phẩm nào để bán
        401:
          description: Trả về thông báo Người dùng chưa được xác thực

  /products/getAll-product:
    get:
      security:
        - bearerAuth: []
      consumes:
        - application/json
      description: Trả về thông tin Danh sách sản phẩm đang bán trên toàn Sàn TMDT
      responses:
        200:
          description: Trả về thông tin danh sách sản phẩm thành công
        400:
          description: Trả về thông báo chưa có sản phẩm nào để bán
        401:
          description: Trả về thông báo Người dùng chưa được xác thực

  /products/update-product:
    post:
      description: Gửi thông tin sản phẩm cần cập nhật
      security:
        - bearerAuth: []
      consumes:
        - multipart/form-data
      parameters:
        - name: id
          in: formData
          description: ID sản phẩm
          type: string
        - name: name
          in: formData
          description: Tên sản phẩm
          type: string
        - name: desc
          in: formData
          description: Mô tả sản phẩm
          type: string
        - name: price
          in: formData
          description: Giá tiền
          type: number
        - name: discount
          in: formData
          description: Khuyến mãi
          type: number
        - name: files
          in: formData
          description: File ảnh của sản phẩm
          type: file
      responses:
        200:
          description: Cập nhật thông tin sản phẩm thành công
        400:
          description: Trả về thông báo lỗi tương ứng
        401:
          description: Trả về thông báo Người dùng chưa được xác thực

  /products/delete-product:
    post:
      description: Gửi thông tin sản phẩm cần xóa
      security:
        - bearerAuth: []
      consumes:
        - application/json
      parameters:
        - in: body
          name: id
          description: Người dùng gửi thông tin sản phẩm cần xóa
          type: object
          properties:
            id:
              type: string
      responses:
        200:
          description: Xóa sản phẩm thành công
        400:
          description: Trả về thông báo lỗi tương ứng
        401:
          description: Trả về thông báo Người dùng chưa được xác thực
